.board_container {
  width: 288px;
  height: 288px;
  display: flex;
  flex-wrap: wrap;
  outline: solid black 1px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid black;
}

